@model IEnumerable<AppoDoc.Models.MobUser>

@{
    ViewBag.Title = "MobUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MobUser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.au_user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_reg_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_chart_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.au_status)
        </th>
        
        <th></th>
    </tr>

    
@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.au_user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_reg_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_chart_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.au_status)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}*@

</table>
